html, body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    /*background-image: ;*/
    height: 700px;
    background-size: cover;
    background-position: center;



}
.form-register{
    width: 400px;
    height: 600px;
    background: white;
    padding: 50px;
    margin: 50px auto auto;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
    text-align: left;
}

.form-register .text{
    margin-top: 50px;
    text-align: left;
}

.form-register a{
    color: black;
}

.form-register .button{
    width: 70%;
    background: #FF5757;
    border: none;
    padding: 12px;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 15px;

}

.form-register .button_2{
    width: 70%;
    background: none;

    padding: 12px;
    color: black;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 15px;

}

div{
    margin-top: 15px;
}
/* -------CheckBoxes------------*/

.form-register input[class="controls"]{
    display:none;
}
.form-register .radio label{
    color:black;
    background: none;
    padding:5px 15px;
    display:inline-block;
    position:relative;
    font-size:20px;
    border-radius:15px;

    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 150px;
    -webkit-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}

.form-register input[class="controls"]:checked+label{
    padding:5px 15px;
    background:#B345FE;
    border-radius:15px;
    color:#fff;
}

.form-register .radio label:hover{
    background:rgba(0,116,217,0.2);
}

