html, body {
    margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    background: #F0F2F4;
}

* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}



.litle_menu {
    width: 100%;
    height: 100px;
    text-align: center;
}
.edit{
    width: 48%;
    height: 50px;

}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

.button{
    width: 70%;
    background: #FF5757;
    border: none;
    padding: 12px;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 15px;
}

.Descripcion {
    text-align: left;
    padding-left: 10px;

}
.controls{
    width: 100%;
    height: 80px;
    background: white;
    padding: 2px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;

}






#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(0, 0, 0, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

.div-nav-main {
    position: relative;
    bottom: 10px;
}

.main-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-wrapper {
    width: auto;
    height: 500px;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-img {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    width: 70%;
    height: 420px;
    z-index: 0;
    border-radius: 20px;
    bottom: 10px;
}

.user-first-info {
    z-index: 1;
}

.name-info-user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info-user {
    height: 30px;
    width: 100%;
    background-color: mediumpurple;
    position: relative;
    margin-top: 15px;
}

.additional-user-info {
    font-size: 20px;
    color: white;
}

.btn-user-info {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 10px;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 10px;
    transition: 1s ease-in-out all;
}

.selectors-user {
    margin: auto 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 45px;
}
.selectors-user i {
    font-size: 45px;
    transition: 0.7s ease-in-out;
}
.selectors-user i:hover {
    transform: scale(1.1);
}
.selectors-user .x-mark {
    color: mediumseagreen;
}
.selectors-user .hearth-mark {
    color: indianred;
}
.selectors-user .check-mark {
    font-size: 50px;
    color: cornflowerblue;
}

.user-second-info {
    display: none;
    padding: 30px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.25) 0 18px 36px -18px inset;
}

.show-content-user-second-info {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.interest-user-info {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px 0 10px;
    gap: 15px;
    align-items: center;
    justify-content: left;
}

.bubble-user-interest {
    width: fit-content;
    padding: 0 10px 0 10px;
    background-color: #aab1df;
    border-radius: 10px;
}
.bubble-user-interest p {
    color: black;
    padding: 6px 0 6px 0;
    margin: 0;
}

.social-media-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}
.social-media-user i {
    font-size: 45px;
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/*# sourceMappingURL=app.css.map */
