$--color: black;

html, body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    /*background-image: url("des.JPG");*/
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.form-register{
    width: 400px;
    height: 600px;
    background: white;
    padding: 50px;
    margin: 50px auto auto;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4{
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
    text-align: left;
}

.controls{
    width: 70%;
    background: none;
    padding: 2px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
    border-bottom: 1px solid var($--color);
}
.form-register div{
    text-align: left;
    font-size: 18px;
}

.form-register a{
    color: black;
}

.form-register .button{
    width: 70%;
    background: #FF5757;
    border: none;
    padding: 12px;
    color: white;
    margin: 60px 0;
    font-size: 16px;
    border-radius: 15px;
    text-align: center;

}
